BROWSER=NONE
REACT_APP_GOOGLE_CLIENT_SECRET=/absolute/path/file.json
REACT_APP_YOUTUBE_CREDENTIALS=/absolute/path/file.json
REACT_APP_VK_APP_ID=1234567890
REACT_APP_VK_TOKEN=/absolute/path/file.json
REACT_APP_GOOGLE_SCOPE=https://www.googleapis.com/auth/youtube
REACT_APP_GOOGLE_API_KEY=KEY
REACT_APP_YOUTUBE_CHANNEL_ID=ID
REACT_APP_VK_OWNER_ID=1234567890
REACT_APP_POLL_INTERVAL=5000
REACT_APP_RETRY_INTERVAL=5000
