//@import "~font-awesome/css/font-awesome.css";
@import '~bootstrap/dist/css/bootstrap.css';

.controls {
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  padding: 9px 0 0;
}

.controls-status {
  display: inline-block;
  margin: 8px 5px 0;
}
